# --- Python & Environnement ---
.venv/
venv/
env/
dbt_env/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Byte-compiled / Optimisation ---
__pycache__/
*.py[cod]
*$py.class

# --- dbt (Data Build Tool) ---
dbt_packages/
logs/
target/
profiles.yml
# Note: We ignore profiles.yml because it often contains your local access details.

# --- Google Cloud & Security ---
# Very important: never commit your JSON keys
*.json
!composer*.json # Sauf si c'est un fichier de config PHP spécifique
.gcloud/
.gsutil/

# --- Environment Variables & Secrets ---
.env
.env.local
.env.*.local
config.yaml
# If your config.yaml contains real project IDs, it is sometimes preferable to only commit a config.example.yaml

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Elementary ---
edr_target/
elementary_output/


# --- Data --- #
*.csv
/data/
documentation/plan/